
.btn{
  border: 0;
  cursor: pointer;
}
.btn.btn-default{
  display: inline-flex;
  flex: 0 auto;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  height: 32px;
  outline: 0;
  border-radius: 4px;
  margin: 0 5px;
  padding: 0 .5rem;
}
.btn.btn-default{
  background: transparent;
  border: 1px solid #ddd;
}
.btn.btn-default:hover{
  background: #f6f6f6;
}
.btn.btn-default:active{
  background: #f2f2f2;
}

.btn.btn-default.action{
  background: #3498db;
  color: white;
}
.btn.btn-default.action:hover{
  background: #3e9ddc;
  color: white;
}
.btn.btn-default.action:active{
  background: #48a2de;
  color: white;
}

.btn.btn-default.success{
  background: #27ae60;
  color: white;
}
.btn.btn-default.success:hover{
  background: #29ba66;
  color: white;
}
.btn.btn-default.success:active{
  background: #2cc66d;
  color: white;
}
