/**VARIABLES**/
:root{
  --desktop-titlebar-bg: #f2f2f2;
  --desktop-titlebar-fg: #333;
  --desktop-taskbar-bg: #111;
  --desktop-taskbar-fg: #fff;
  --desktop-taskbar-items-bg: rgba(255,255,255,0);
  --desktop-taskbar-items-fg: #fff;
  --desktop-shortcut-bg: #111;
  --desktop-shortcut-fg: #fff;
  --desktop-contextmenu-bg: #fff;
  --desktop-contextmenu-fg: #111;

  --desktop-border-bottom: 1px solid #ddd;

  --desktop-light-turqoise: #1abc9c;
  --desktop-turqoise: #16a085;

  --desktop-light-green: #27ae60;
  --desktop-green: #27ae60;

  --desktop-light-blue: #3498db;
  --desktop-blue: #2980b9;

  --desktop-light-purple: #9b59b6;
  --desktop-purple: #8e44ad;

  --desktop-light-orange: #e67e22;
  --desktop-orange: #d35400;

  --desktop-light-red: #e74c3c;
  --desktop-red: #c0392b;
}

/**TRANSITIONS AND ANIMATIONS**/

.desktop.desktop-default{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
}
/**ITEMS**/
.desktop.desktop-default .desktop-workspace{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(64px, 64px));
  grid-template-rows: repeat(auto-fill, minmax(64px, 64px));
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  justify-content: center;
  align-content: center;
  flex: 1;
}
.desktop.desktop-default .widget{
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--desktop-light-turqoise);
  color: #fff;
  border-radius: 4px;
  box-shadow: var(--bs-1dp);
  transition: var(--transition-default);
}
.desktop.desktop-default .widget:hover{
  box-shadow: var(--bs-4dp);
}
.desktop.desktop-default .widget.widget-1x1{
  grid-column: span 1;
  grid-row: span 1;
}
.desktop.desktop-default .widget.widget-1x2{
  grid-column: span 1;
  grid-row: span 2;
}
.desktop.desktop-default .widget.widget-2x1{
  grid-column: span 2;
  grid-row: span 1;
}
.desktop.desktop-default .widget.widget-2x2{
  grid-column: span 2;
  grid-row: span 2;
}
.desktop.desktop-default .widget.widget-3x1{
  grid-column: span 3;
  grid-row: span 1;
}
.desktop.desktop-default .widget.widget-1x3{
  grid-column: span 1;
  grid-row: span 3;
}
.desktop.desktop-default .widget.widget-2x3{
  grid-column: span 2;
  grid-row: span 3;
}
.desktop.desktop-default .widget.widget-3x2{
  grid-column: span 3;
  grid-row: span 2;
}
.desktop.desktop-default .widget.widget-3x3{
  grid-column: span 3;
  grid-row: span 3;
}
.desktop.desktop-default .shortcut{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  box-sizing: border-box;
  color: #333;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background: rgba(255,255,255,0);
  border: 2px solid rgba(255,255,255,0);
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
.desktop.desktop-default .shortcut label,
.desktop.desktop-default .shortcut .material-icons{
  cursor: inherit;
}
.desktop.desktop-default .shortcut:hover{
  background: rgba(255,255,255,.3);
  border: 1px solid rgba(0,0,0,0);
  border-radius: 4px;
}

/**TASKBAR**/
.desktop-taskbar{
  display: flex;
  flex: 0 auto;
  margin: 0;
  padding: 0;
  list-style: none;
  background: var(--desktop-taskbar-bg);
  color: var(--desktop-taskbar-fg);
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
.desktop-taskbar .nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-taskbar .nav-item.tray{
  margin-left: auto;
}

.desktop-taskbar .nav-item.home ul,
.desktop-taskbar .nav-item.tray ul{
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  background: var(--desktop-taskbar-bg);
  color: var(--desktop-taskbar-fg);
}
.desktop-taskbar .nav-item.open > ul{
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.desktop-taskbar .nav-item.home ul{
  left: 0;
}
.desktop-taskbar > li span,
.desktop-taskbar > li a,
.desktop-taskbar .nav-item.home li span,
.desktop-taskbar .nav-item.tray li span,
.desktop-taskbar .nav-item.home li a,
.desktop-taskbar .nav-item.tray li a{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  height: 56px;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}
.desktop-taskbar .nav-item.home li ul{
  position: absolute;
  left: 100%;
  bottom: 0;
}
.desktop-taskbar .nav-item.tray li ul{
  position: absolute;
  right: 100%;
}
.desktop-taskbar .nav-item.tray ul{
  right: 0;
}
.desktop-taskbar .nav-item.has-children{
}
.desktop-taskbar .nav-item{
  position: relative;
  background: var(--desktop-taskbar-items-bg);
  color: var(--desktop-taskbar-items-fg);
  cursor: pointer;
}
.desktop-taskbar .nav-item:not(.tasks):hover,
.desktop-taskbar .nav-item:not(.tasks).open,
.desktop-taskbar .nav-item.tasks .taskbar-task:hover{
  background: rgba(255,255,255,.05);
}

.desktop-taskbar .nav-item.tasks .taskbar-task.focus{
  background-color: rgba(255,255,255,.2);
}
/* .desktop-taskbar .nav-item.home .nav-item:after{
  content: "•";
  font-family: "Material Icons";
  color: #fff;
  opacity: .2;
  padding: .5rem;
} */
.desktop-taskbar .nav-item.home .nav-item.has-children:after{
  content: "keyboard_arrow_right";
  font-family: "Material Icons";
  color: #fff;
  opacity: .2;
  padding: .5rem;
}
.desktop-taskbar .nav-item.home .nav-item:hover:after{
  opacity: .5;
}
.desktop-taskbar .nav-item.home .nav-item.open:after{
  opacity: 1;
}
/**WINDOWS**/

.desktop.desktop-default .desktop-window{
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  z-index: 1;
  box-shadow: var(--bs-1dp);
  transform: scale(1);
  opacity: 1;
  resize: both;
  max-width: 100%;
  max-height: 100%;
}

.desktop.desktop-default .desktop-window.minimized{
  transform: scale(0);
  opacity: 0;
}

.desktop.desktop-default .desktop-window.focus{
  z-index: 99;
  box-shadow: var(--bs-12dp);
}

.desktop.desktop-default .desktop-window .titlebar{
  display: flex;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 32px;
  background: var(--desktop-titlebar-bg);
  color: var(--desktop-titlebar-fg);

}
.desktop.desktop-default .desktop-window .titlebar > span,
.desktop.desktop-default .desktop-window .titlebar > .window-actions{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.desktop.desktop-default .desktop-window .titlebar .window-actions{
  display: flex;
  flex: 0 auto;
  flex-direction: row;
  margin-left: auto;
  padding: 0 4px;
}
.desktop.desktop-default .desktop-window .titlebar .window-actions .window-action{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  padding: 0;
  height: 16px;
  width: 16px;
  background: transparent;
  border: 0;
  color: #111;
  opacity: .8;
  cursor: pointer;
}
.desktop.desktop-default .desktop-window .titlebar .window-actions .window-action:hover{
  opacity: 1;
}
.desktop.desktop-default .desktop-window .titlebar > span{
  display: flex;
  align-items: center;
  line-height: 32px;
  padding: 0 .5rem;
  flex: 1;
}
.desktop.desktop-default .desktop-window .titlebar .window-actions .window-action{
  border-radius: 100%;
}

.desktop.desktop-default .desktop-window .titlebar .window-actions .window-action.close{
  background: var(--desktop-red);
}
.desktop.desktop-default .desktop-window .titlebar .window-actions .window-action.maximize{
  background: var(--desktop-green);
}
.desktop.desktop-default .desktop-window .titlebar .window-actions .window-action.minimize{
  background: var(--desktop-orange);
}
.desktop.desktop-default .desktop-window .content{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  margin-bottom: 10px;
}
.desktop.desktop-default .toolstrip{
  order: -1;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  font-size: 12px;
}

.desktop.desktop-default .toolstrip,
.desktop.desktop-default .toolstrip ul{
  background: #eee;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.desktop.desktop-default .toolstrip li{
  position: relative;
  flex: 0 auto;
}
.desktop.desktop-default .toolstrip li[disabled]{
  opacity: .3;
  cursor: not-allowed;
  pointer-events: none;
}
.desktop.desktop-default .toolstrip span{
  display: inline-block;
  flex: 1;
  padding: 5px;
}
.desktop.desktop-default .toolstrip ul{
  position: absolute;
  display: flex;
  flex-direction: column;
  white-space: pre;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 0;
  margin: 0;
}
.desktop.desktop-default .toolstrip li.open{
  background: #ddd;
}
.desktop.desktop-default .toolstrip li.open > ul{
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  box-shadow: var(--bs-4dp);
  z-index: 0;
}

.desktop.desktop-default .toolstrip li ul{
  top: 0;
  left: 100%;;
}
.desktop.desktop-default .toolstrip > li > ul{
  top: 100%;
  left: 0;
}

.desktop.desktop-default .contextmenu{
  position: fixed;
  opacity: 1;
  bottom: auto;
  right: auto;
  visibility: visible;
  pointer-events: all;
  background: var(--desktop-contextmenu-bg);
  color: var(--desktop-contextmenu-fg);
  box-shadow: var(--bs-4dp);
  z-index: 1000;
  padding: 0;
  margin: 0;
  list-style: none;
}
.desktop.desktop-default .contextmenu li{
  position: relative;
  display: list-item;
  cursor: pointer;
  color: inherit;
  background: inherit;
  padding: .5rem;
}
.desktop.desktop-default .contextmenu ul{
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  bottom: 0;
  left: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.desktop.desktop-default .contextmenu li.has-children:hover > ul{
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.desktop.desktop-default .contextmenu li.has-children > span{
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop.desktop-default .contextmenu li.has-children > span:after{
  content: "arrow_right";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  margin-left: auto;
}
.desktop.desktop-default .contextmenu li.has-children ul{
  left: 100%;
  bottom: 0;
  color: inherit;
  background: inherit;
}
.desktop.desktop-default .contextmenu li.has-children:hover ul{
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  box-shadow: var(--bs-4dp);
  z-index: -1;
}
.desktop.desktop-default .contextmenu span{
  /* padding: .5rem 0; */
  /* margin: 0 .5rem; */
}
