.nav{

}

.nav.nav-sidebar,
.nav.nav-sidebar li,
.nav.nav-sidebar ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav.nav-sidebar li{
  padding: 1rem;
}
.nav.nav-sidebar li > ul{
  margin: 1rem -1rem -1rem -1rem;
}
.nav.nav-sidebar li:hover{
  background-color: rgba(0,0,0,.05);
}
.nav.nav-sidebar li:hover > ul{

}
.nav.nav-sidebar li:not(:hover) > ul{
  display: none;
}
