.pager{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pager li{
  flex: 0 auto;
}
.pager.pager-default{
}
.pager.pager-default button{
  /* margin: 0 .5rem; */
}
.pager.pager-default button.first,
.pager.pager-default button.previous,
.pager.pager-default button.next,
.pager.pager-default button.last{
  /* padding: .5rem 0; */
}
