.tabcontrol{

}
.tabcontrol .controls,
.tabcontrol .tabs{
  padding: 0;
  margin: 0;
  list-style: none;
}

.tabcontrol .controls{
  display: flex;
}
.tabcontrol .controls li a{
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
  padding: 1rem;

}

.tabcontrol .tabs .tab:not(.active){
  display: none;
}
