html, body{
  margin: 0; padding: 0;
}
.columns{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.columns .column{
  flex: 1;
  background-color: #ddd;
}
.columns .column.sidebar{
  flex: 0 200px;
  background-color: #111;
}
.columns .column.main{
  padding: 10px;
}
