.rows .row.main{
  flex: 1;
  background: #ddd;
}
.block{
  margin: .5rem;
}
.block.block-bordered{
  border: 1px solid #ddd;
  padding: 0 .5rem;

}
.columns.layout-login .column.main{
  z-index: 1000;
}
.layout-main,
.layout-login{
  background: linear-gradient(rgba(255,255,255,.0), rgba(255,255,255,.0), rgba(255,255,255,1)), url(/common/assets/img/aug/wallpaper/login.jpg);
  background-position: center;
  background-size: cover;
}
.columns.layout-login .section.section-login{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 1rem;
  background: #fff;
  border-radius: .5rem;
  box-shadow: var(--bs-2dp), var(--bs-6dp);
}
